/** Modal **/
.lpc_modal_relays .modal-inner-wrap{
    max-width: 800px;
}

/** Webservice **/
.lpc_modal_relays_search_input, #lpc_layer_button_search{
    margin-bottom: 1rem;
    vertical-align: top;
}

#lpc_layer_relays #lpc_modal_relays_search_address{
    width: 200px;
}

#lpc_layer_relays #lpc_modal_relays_search_zipcode{
    width: 100px;
}

#lpc_layer_relays #lpc_modal_relays_search_city{
    width: 180px;
}

#lpc_layer_relays_loader{
    height: 15px;
}

.lpc_layer_relay_name{
    font-size: 14px;
    font-weight: bold;
}

.lpc_layer_relay_address{
    font-size: 11px;
    color: grey;
}

.lpc_layer_relay_address_street{
    display: block;
}

.lpc_layer_relay_distance{
    font-size: 14px;
    font-weight: bold;
}

.lpc_layer_relay .lpc_relay_marker, #lpc_chosen_relay .lpc_relay_marker{
    float: left;
    width: 12px;
    margin-right: 5px;
}

.lpc_closest_relay, .lpc_selected_relay_distance{
    font-weight: bold;
}

.lpc_selected_relay_line{
    font-size: 1rem;
}

.lpc_layer_relay_button_choose{
    margin: 1rem;
    float: right;
}

#lpc_layer_error_message{
    color: red;
}

.lpc_store_name{
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.lpc_store_address{
    color: grey;
    font-size: 12px;
}

.lpc_store_schedule table td{
    padding: 0 2px 0 0;
    font-size: 12px;
}

.lpc_layer_relay_id,
.lpc_layer_relay_latitude,
.lpc_layer_relay_longitude,
.lpc_layer_relay_schedule,
.lpc_layer_relay_type,
.lpc_layer_relay_country_code,
.lpc_layer_relay_distance_nb,
.lpc_layer_relay_hour{
    display: none;
}

.lpc_show_relay_details, .lpc_relay_popup_choose{
    color: #06187c;
    text-decoration: underline;
    cursor: pointer;
}

.lpc_show_relay_details{
    font-size: 12px;
}

.lpc_relay_choose{
    padding: 5px 10px;
    margin-left: 5px;
}

#lpc_chosen_relay{
    display: block;
    margin: 15px 0 10px 15px;
    border-left: 3px solid #d4d4d4;
    padding: 0 0 0 10px;
    line-height: normal;
    color: #777777;
}

#lpc_map{
    height: 100%;
}

#lpc_left{
    width: 550px;
    height: 400px;
    float: left;
}

#lpc_right{
    float: right;
    height: 400px;
    width: 190px;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 10px;
}

.content{
    margin: 10px -15px 0 -15px;
}


#lpc_layer_relay_switch_mobile{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100000;
    border-radius: 50px;
    background: #ee7203;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 20px 0px rgb(255 255 255 / 10%);
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon{
    left: 10px;
    top: 10px;
    position: relative;
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon.lpc_layer_list_inactive{
    display: none;
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon.lpc_layer_list_active{
    display: inline;
}

.lpc_layer_relay_warning_relay_type{
    margin-bottom: 1rem;
    color: #EC7407;
    text-align: center;
}

@media all and (max-width: 1023px){
    #lpc_right{
        float: left;
        width: 100%;
        height: auto;
        overflow: visible;
        padding-left: inherit;
        padding-top: 10px;
    }

    #lpc_left{
        width: 100%;
        height: 400px;
    }

    .lpc_layer_relay_address{
        float: left;
    }

    .lpc_relay_choose_btn{
        float: right;
    }

    .lpc_mobile_display_none{
        display: none;
    }

    #lpc_layer_relay_switch_mobile{
        display: block !important;
    }
}

#lpc_layer_relay_switch_mobile{
    display: none;
}

#lpc_modal_relays_display_more{
    float: right;
    max-width: 180px;
}

/** Widget **/
@media all and (min-width: 1200px){
    .checkout-index-index .lpc_modals-wrapper ._show_lpc_relay .modal-inner-wrap{
        margin-left: 0;
        left: 10%;
        min-width: 1080px;
        min-height: 570px;
    }
}

@media all and (max-width: 1199px){
    .checkout-index-index .lpc_modals-wrapper ._show_lpc_relay .modal-inner-wrap{
        width: 100%;
        margin-left: 0;
        left: 0;
        min-height: 600px;
    }

    #lpc_modal_relays_display_more{
        margin-bottom: 1rem;
        float: left;
    }
}
