.lpc_balreturn .lpc_balreturn_shipping_address, .lpc_balreturn .lpc_balreturn_return_address{
    margin-left: 20px;
}

.lpc_balreturn .lpc_balreturn_address{
    margin-top: 20px;
}

.lpc_balreturn .lpc_balreturn_address label{
    margin: 8px 0 8px 0;
    display: inline-block;
    font-weight: 600;
}

.lpc_balreturn .lpc_balreturn_subtitle, .lpc_balreturn .lpc_balreturn_withseparator{
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.lpc_balreturn_btn{
    margin: 15px 0 10px 0;
}

#lpc_bal_confirmation{
    margin-top: 1rem;
}

#lpc_return_instructions_container{
    padding: 1.5rem 2rem;
    background-color: #efefef;
    width: fit-content;
    margin-top: 2rem;
}

#lpc_return_instructions_container li{
    margin-bottom: 1rem;
}

#lpc_return_instructions_container li::marker{
    font-weight: bold;
}

#lpc_return_instructions_container #instructions_title{
    margin-top: 0;
    font-weight: bold;
}
